{% extends 'frontend/base.html' %}
{% block title %} Contact {% endblock %}
{% block content %}

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>
<body>
<br>
<br>
<h1 style="font-family:Consolas ; font-size:18pt; font-style:normal; text-align:center;" >Contact me</h1>
<br>
<br>
<br>
<img src="\static\images\email.jpg" alt="e-mail" width="100" height="100">
<br>
<p style="font-family:Consolas ; font-size:14pt; font-style:normal; text-align:center;" ><font onmousedown="this.style.color='HotPink';" onmouseup="this.style.color='grey';">e-mail : 61010646@kmitl.ac.th</font></p>
<br>
<br>
<br>
<img src="\static\images\tel.jpg" alt="Tel" width="100" height="100">
<br>
<p style="font-family:Consolas ; font-size:14pt; font-style:normal; text-align:center;" ><font onmousedown="this.style.color='HotPink';" onmouseup="this.style.color='grey';">Tel. : 090-6215841</font></p>
<br>
<br>
<br>
<img src="\static\images\address.jpg" alt="Address" width="100" height="100">
<br>
<p style="font-family:Consolas ; font-size:14pt; font-style:normal; text-align:center;" ><font onmousedown="this.style.color='HotPink';" onmouseup="this.style.color='grey';">Address : A&J Mansion RnP, Ladkrabang</font></p>
<br>
<br>
<br>
</body>
</html> 

{% endblock %}